.main {
  width: 95.8%;
  height: 1024px;
  overflow: hidden;
  padding-top: 86px;
  padding-left: 4.19%;
  background: linear-gradient(
    45deg,
    rgba(31, 169, 17, 0.810119) 17.21%,
    #2f15d0 64.58%,
    black 100%
  );
}
.first_block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 60px;
}

.cards {
  width: 600px;
  /* float: right; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  /* bottom: 240px; */
  margin-right: 100px;
  margin-top: -56px;
  flex-wrap: wrap;
  /* background-color: aquamarine; */
}

.second_block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 40px;
  margin-top: 60px;
}

.Cohorts {
  width: 335px;
  height: 306px;
  top: 409px;
  left: 60px;
  border-radius: 12px;
  border: 1.5px;

  box-shadow: 0px 14px 64px -4px rgba(24, 39, 75, 0.12);

  box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12);
}

@media only screen and (max-width: 1200px) {
  .main {
    height: max-content;
    width: 100%;
  }
  .first_block {
    flex-direction: column;
  }
  .cards {
    margin-top: 17px;
    width: 800px;
  }

  .second_block {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 24px;
  }
}

@media only screen and (max-width: 1000px) {
  .cards {
    width: 1000px;
  }
}

/* mobile  */

@media only screen and (min-width: 200px) and (max-width: 778px) {
  .main {
    padding: 0;
    padding-top: 25px;
  }
  .second_block {
    margin-top: 20px;
    margin-left: 20px;
  }

  .Cohorts {
    width: 300px;
    height: 280px;
  }
}
