.main {
  min-width: 313px;
  max-width: 531px;
  width: fit-content;
  height: 136px;
  font-family: Inter;
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
}

.box {
  /* width: 161px; */
  height: 19px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  column-gap: 10px;
}

.name {
  /* width: 50px; */
  height: 19px;
  color: #19191a;
  /* font-family: Inter; */
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}

.detail {
  color: #96979a;
  /* font-family: Inter; */
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  /* width: 103px; */
  height: 16px;
}

.para {
  /* width: 313px; */
  height: 57px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 20px;
  color: #1d2129;
}

@media only screen and (min-width: 200px) and (max-width: 778px) {
  .main {
    height: fit-content;
    padding-bottom: 6px;
    margin: 1px 20px;
  }
  .para {
    height: fit-content;
  }
}
