* {
  margin: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-236px * 3));
  }
}
.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slider .slide-track {
  animation: scroll 12s linear infinite;
  display: flex;
}

.slider .slide {
  width: auto;
  padding: 23px;
}

.slider:hover .slide-track {
  animation-play-state: paused;
}

.carousel-control-next-icon {
  background: transparent;
}

.carousel-control-prev-icon {
  background: transparent;
}

.carousel-item {
  -webkit-transition: -webkit-transform 1.5s ease-in-out !important;
  -o-transition: -o-transform 1.5s ease-in-out !important;
  transition: transform 1.5s ease-in-out !important;
}

.get-started {
  width: 100px;
  height: 39px;
  font-size: 14px;
  position: absolute;
  top: 15px;
  right: 10px;
  margin: 12px;
}